.nav-item {
  cursor: pointer;
  padding: 10px;
}
.nav-link {
  cursor: pointer;
}
.nav-link:hover {
  color: #0d6efd;       /* blue text OR any color you want */
  background-color: #2272c1; /* light grey background */
  border-radius: 5px; 
}
